VITE_SUPABASE_URL=https://lzhiqntjgyexhbtfsnks.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imx6aGlxbnRqZ3lleGhidGZzbmtzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg2NjU3NDcsImV4cCI6MjA5NDI0MTc0N30.S9FzeHr_z_sFjO-z-T4517iIgDNQal1o-g6ASkYNsnI
